* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: -0.3px;
  word-spacing: 3.6px;
  font-weight: 200;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-shadow: 1px 3px 5px #7f7f7f;
      
}
.navbar {
  display: flex;
justify-content: space-evenly;
align-items: center;
align-content: center;
  background: rgb(81, 81, 81);
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 1.2rem;
  z-index: 5;
}

#logo {
  border-radius: 50%;
  width: 80px;
  margin: 10px;
}
body {
  background: linear-gradient(to bottom, rgba(171, 158, 158, 0.239), rgba(43, 41, 41, 0.545) 50%, rgba(73, 70, 70, 0.252) 75%, rgba(69, 67, 67, 0.611) 75%) center/cover;
 
}

a {
  text-align: center;
  color: #e3e3e3;
  font-size: 1.5rem !important;
}
a:hover {
  background-color: #2a292f;
  border: 2px solid red;
  padding: .8rem;
  transition: 0.10s;
  color: red;
}  

.accueil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 100px;
  height: 720px;
}
h1 {
  color: #000000;
  font-size: 5rem;
}
#img-1 {
  margin: auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
h2 {
  color: #0c104d;
  text-align: center;
  font-size: 4rem;
  margin-top: 80px;
  margin-bottom: 80px;
  font-style: oblique;
}

#css {
  color: yellow;
  font-family: 'Odibee Sans', cursive;
}

.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 800px;
  display: block;
  margin: 50px auto ;
  border: 2px solid black;
  z-index: auto;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('./assets/img/img1.jpeg');
  background-size: cover;
}
.item-2 {
  background: url('./assets/img/img2.jpeg');
  background-size: cover;
}
.item-3 {
  background: url('./assets/img/img3.jpeg');
  background-size: cover;
}

*:target ~ .item-1{
  opacity: 0;
  
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}
#rep1 {
  text-transform: uppercase;
  color: rgb(1, 1, 1);
  text-align: center;
  margin-top: 50px;
  font-size: 3.5rem;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom:  200px;
}

input{
  text-align: center;
  border: 2px solid black;
  padding: 10px 30px;
  text-shadow: none;
}

#submit {
  border-radius: 20px;
  margin-left: 25%;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 350%;
}

form {
  margin-right: auto;
  margin-left: auto;
}

iframe {
  border-radius: 10%;
  width: 100%;
}

#map {
  width: auto;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 25px;
}
.footerA {
  display: flex;
justify-content: space-evenly;
align-items: center;
align-content: center;
  background: rgb(81, 81, 81);
  width: 100%;
  font-size: 1.2rem;
}



@media screen and (max-width: 1040px ) {
  .accueil {
      grid-template-columns: 100%;
      text-align: center;
  }
  .nbt {
      font-size: 1.1rem !important;
  }
  .form {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 100%;
      margin-top: -100px;
  }
  h1 {
      margin-top: 50px;
      font-size: 3rem;
  }
  #projets {
      grid-template-columns: 1fr 1fr;
  }
  h2 {
      margin-top: 250px;
  }
  #l1 {
    margin-top: 100px;
    margin-bottom: -200px;
  }
  #rep1 {
    padding-top: 75px;
  }
  #img-1 {
      margin-top: 80px;
  }
  #map {
      margin-bottom: 50px;
  }
  #rep1 {
      margin-top: 250px;
  }
  a {
      font-size: 1.1rem !important;
  }
  .pic-ctn {
    margin-bottom: -150px;
  }
  .carousel-wrapper {
    height: 400px;
    width: auto;
}